.property {
  padding-top: 160px;
  

  @include laptop {
    padding-top: 220px;
  }

  overflow: hidden;
}

.property-filler {
  margin-bottom: 120px;

  @include tablet {
    margin-bottom: 200px;
  }

  @include laptop {
    margin-bottom: 100px;
  }
}

.property-real-estate {
  padding-bottom: 120px;

  @include tablet {
    padding-bottom: 200px;
  }

  @include laptop {
    padding-bottom: 300px;
  }
}