.terms {
  padding-top: 160px;
  padding-bottom: 120px;

  @include tablet {

    padding-bottom: 180px;
  }

  @include laptop {
    padding-top: 220px;
    padding-bottom: 15.62vw;
  }

  overflow: hidden;
}

.terms-hero {
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;

  @include tablet {
    flex-direction: column;
    gap: 100px;
  }

  @include laptop {
    flex-direction: row;
    padding-left: 10.4vw;
    padding-right: 9vw;
    gap: 7.8vw;
  }

  &__content {
    display: flex;
    gap: 40px;

    @include laptop {

      flex-direction: column-reverse;

    }

    &>svg {
      width: 68px;
      height: 68px;
      flex-shrink: 0;

      @include tablet {
        width: 140px;
        height: 140px;
      }


      @include laptop {
        width: vw(140);
        height: vw(140);
      }
    }

  }

  .svg-img__wrap {
    width: 100%;

    svg {
      width: 100%;
      height: auto
    }
  }

  &__title {
    @include page-subtitle;
    color: $dark-color;
    margin-bottom: 20px;
    line-height: 100%;

    @include laptop {
      margin-bottom: 40px;
    }
  }

  &__list-title {
    @include general-text;
    color: $text-color-2;
    font-weight: 700;
    margin-bottom: 20px;



  }

  &__descr {
    @include general-text;
    color: $text-color-2;
    padding-left: 26px;
    position: relative;
    line-height: 140%;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      z-index: 2;
      content: "•";
      top: 0;
      left: 0;

    }
  }
}

.terms-filler {
  width: 100%;
  aspect-ratio: 1/ 1.38;
  position: relative;
  overflow: hidden;

  @include tablet {
    aspect-ratio: 1/ 0.68;
  }

  @include laptop {
    aspect-ratio: 1/ 0.4;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20%;

    @include tablet {
      object-position: left;
    }
  }

  &__text {
    position: absolute;
    bottom: 28px;
    left: 0px;
    max-width: 360px;

    @include tablet {
      bottom: 50%;
      transform: translateY(50%);
      left: auto;
      right: 40px;
    }

    @include laptop {
      bottom: 50%;
      transform: translateY(50%);
      left: auto;
      right: 18.75vw;
    }


    .terms-hero__title,
    .terms-hero__descr {
      color: $wc;
      padding: 0;

    }

    .terms-hero__descr {
      color: $grey-color
    }
  }
}

.terms-purchase {
  padding-top: 50px;
  padding-bottom: 120px;
  position: relative;
  overflow: visible;

  @include tablet {

    padding-top: 200px;
  }

  @include laptop {
    padding-top: vw(200);
  }

  &__top {
    // padding-left: 10px;
    // padding-right: 10px;
    padding-bottom: 40px;
    width: 100%;
    background-color: $wc;

    // top: 70px;

    @include tablet {
      padding-left: 20px;
      padding-right: 20px;
      top: 80px;
      position: sticky;
    }

    @include laptop {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-left: 9.375vw;
      padding-right: 17.66vw;
      top: 100px;

      .terms-hero__title {
        width: 18.75vw;
        margin-bottom: 0;
      }

      .terms-hero__descr {
        width: 18.75vw;
        position: relative;

        &::before {
          content: "•";
          position: absolute;
          top: 0;
          left: 0;


        }
      }


    }

    .terms-hero__descr {
      padding: 0;

      &::before {
        content: none;
      }
    }


  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.terms-purchase-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $wc;
  border: 1px solid $grey-color;

  @include tablet {
    position: sticky;
    top: 240px;
  }


  @include laptop {
    gap: 4.1666vw;
    flex-direction: row;
    top: 260px;
  }

  &:nth-child(2) {


    @include tablet {
      top: 270px;
    }
  }

  &:nth-child(3) {


    @include tablet {
      top: 280px;
    }
  }

  &:nth-child(4) {


    @include tablet {
      top: 290px;
    }
  }



  &__img-wrap {
    width: 100%;
    aspect-ratio: 1/ 0.95;

    @include tablet {
      aspect-ratio: 1/ 0.547;
    }

    @include laptop {
      width: 55vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include laptop {
      width: 18.75vw;
    }
  }

  &__number-wrap {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 20px;
    align-items: center;

    p {
      @include tiny-text;
      color: $text-color-2;

    }

    @include tablet {
      position: absolute;
      right: 0;
      top: 0;
      gap: 20px;
    }

    @include laptop {
      position: static;
      flex-direction: row-reverse;
      justify-content: flex-end
    }
  }

  &__title {
    @include text-32;
    color: $dark-color;
    font-size: 36px;
    font-weight: 500;
  }

  ul li {
    & {
      padding-left: 26px;
      margin-bottom: 2px;
      position: relative;
    }

    &::before {
      position: absolute;
      z-index: 1;
      content: "•";
      top: 0;
      left: 0;

    }
  }

  &__descr {
    @include general-text;
    color: $text-color-2;
    line-height: 140%;


  }
}

.tablet.landscape {

  .terms-purchase__top,
  .terms-purchase-card {
    // position: static;
    gap: 4.1666vw;
    flex-direction: row;

    .terms-purchase-card__img-wrap {
      width: 55vw;
      flex-shrink: 0;
    }
  }
}

.terms-open-list {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 8px;
  transition: text-decoration 0.4s ease-in-out;

  svg {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0;

    @include laptop {}
  }

  &.is-open svg {
    transform: rotate(0deg);
  }

  @media (hover:hover) {
    &:hover span {
      text-decoration: underline;
    }
  }
}

.terms-hero__list--child {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.terms-hero__descr--title {
  &::before {
    content: none;

  }

  padding-left: 0;
}