.breadcrumbs {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
 margin-bottom: 40px;
 

 @include tablet {
  margin-bottom: 50px;
 }
 @include desktop {
  margin-bottom: 60px;
 }
}
.breadcrumbs-item{
  font-family: $default-font;
      font-weight: 600;
      font-style: normal;
      line-height: 140%;
      font-size: 16px;
      color: $accent-color;
      margin-top: 20px;
      text-align: center;
  
white-space: nowrap;

@include tablet {
  font-size: 20px;
  margin-top : 28px;
}
&:last-child{
  text-overflow: ellipsis;
  overflow: hidden;
}

  a {
    margin-right: 12px;
  }
 &__link {
 text-decoration: underline;   
 transition: color 0.3s ease-in-out;
 @media (hover: hover) {
    &:hover {
      color: $dark-color;
    }
 }
}
}
