.notFound {
    
    position: relative;
    padding-top: 80px;
    padding-bottom: 120px;
    overflow: hidden;
    @include tablet {
        padding-top: 180px;
        padding-bottom: 180px;
    }
    @include laptop {
        padding-top: 230px;
        padding-bottom: 0px;
    }
    .page-title__wrap {
        opacity: 1;
        margin-bottom: 72px;
        @include tablet {
            margin-bottom: 150px;
        }
        @include laptop {
            margin-bottom: 116px;
        }
        h1{
            font-size: 64px;
            @include tablet {
                 font-size: 100px;
            }
            @include laptop {
                font-size: 160px;
            }
        }
        &>svg{
            bottom:-52px;
        }
    }
    
}
.notFound-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    @include laptop {
        padding-left: 24vw;
        padding-right: 24vw;
    }
    p{
        @include page-subtitle;
        color:$dark-color;
        text-align: center;
        @include tablet {
            margin-bottom: 20px;
        }
    }
}
.notFound-img__wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
   .cat{
        overflow: hidden;
        border-radius: 50%;
        width:140px;
        height: auto;
        @include tablet {
            width: 200px;
        }

   }
   .dialog-claude {
        width: 200px;
    @include tablet {
        position: absolute;
        left: 100%;
        top: -20px;
    }
   }

}

.notFound__btn-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
    @include tablet {
           flex-direction: row;
        }
    .general-btn  {
        width: 100%;
        @include tablet {
            width:fit-content;
        }
    }
}

